<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feige.dao.ChatMsgMapper">

    <update id="batchUpdateChatMsg" parameterType="list">
        update springboot_netty.chat_msg set sign_flag=true where id in
        <foreach collection="list" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
</mapper>
